
{% extends 'auth.html.twig' %}

{% block title %}Register | Themekit Global Management{% endblock %}

{% block body %}



<div class="auth-wrapper">
    <div class="container-fluid h-100">
        <div class="row flex-row h-100 bg-white">

            {# Left Image Panel #}
            <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                <div class="lavalite-bg" style="background-image: url('themekit/img/auth/register-bg.jpg')">
                    <div class="lavalite-overlay"></div>
                </div>
            </div>

            {# Registration Form Panel #}
            <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                <div class="authentication-form mx-auto">

                    {# Logo #}
                    <div class="logo-centered">
                        <a href="{{ path('app_dashboard') }}">
                            <img src="themekit/src/img/brand.svg" alt="Logo">
                        </a>
                    </div>

                    <h3>New to Themekit</h3>
                    <p>Join us today! It takes only few steps</p>

                    {# Symfony Form Start #}
                    {{ form_start(registrationForm, {'attr': {'class': ''}}) }}

                        {# Email Input #}
                        <div class="form-group">
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                            <i class="ik ik-user"></i>
                            {{ form_errors(registrationForm.email) }}
                        </div>

                        {# Password Input #}
                        <div class="form-group">
                            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                            <i class="ik ik-lock"></i>
                            {{ form_errors(registrationForm.plainPassword.first) }}
                        </div>

                        {# Confirm Password Input #}
                        <div class="form-group">
                            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'}}) }}
                            <i class="ik ik-eye-off"></i>
                            {{ form_errors(registrationForm.plainPassword.second) }}
                        </div>

                        {# Agree Terms Checkbox #}
                        <div class="row">
                            <div class="col-12 text-left">
                                <label class="custom-control custom-checkbox">
                                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'custom-control-input', 'id': 'item_checkbox'}}) }}
                                    <span class="custom-control-label">&nbsp;I Accept <a href="#">Terms and Conditions</a></span>
                                </label>
                                {{ form_errors(registrationForm.agreeTerms) }}
                            </div>
                        </div>

                        {# Submit Button #}
                        <div class="sign-btn text-center">
                            <button type="submit" class="btn btn-theme">Create Account</button>
                        </div>

                    {{ form_end(registrationForm) }}

                    {# Already Registered #}
                    <div class="register">
                        <p>Already have an account? <a href="{{ path('app_login') }}">Sign In</a></p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
